:root {
    --fuenteheading: 'PT Sans', sans-serif;
    --fuenteparrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000; 
}


html {
    box-sizing: border-box;
    font-size: 62,5%; /* 1rem=10px */

}
 
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteparrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** globales **/

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteheading);
    font-size: 1.6rem;
    line-height: 2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;

}

h3 {
    font-size: 3.2rem;
}
index.html
h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/** utilidades **/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/** header **/
.webp .header {
    background-image: url(../img/banner.webp);

}
.no-webp .header {
    background-image: url(../img/banner.jpg);


}

.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__text {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px)  {
    .header__text {
        margin-top: 15rem;

    }
   
}

.bar {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

@media (min-width: 768px)  {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
}

.logo {
    color: var(--blanco);

}

.name__logo {
    font-weight: normal;


}

.logo__bold {
    font-weight: bold;

}

@media (min-width: 768px)  {
    .navigation {
        display: flex;
        gap: 2rem ;

    }
   
}

.navigation__link {
    display: block;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;

}

@media (min-width: 768px)  {
    .major-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }

   
}

.entry {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entry:last-of-type {
    border: none;
    margin-bottom: 0;

}

.button {
    display: block;
    font-family: var(--fuenteheading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px)  {
    .button {
        display: inline-block;
    }
   
}

.button:hover {
    cursor: pointer;
}
.primary--button {
    background-color: var(--negro);

}

.secondary--button {
    background-color: var(--primario);
}

.courses {
    list-style: none;
}

.widget-course {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-course:last-of-type {
    border: none;
    margin-bottom: 0;
}


.widget-course__label,
.course__label {
    font-family: var(--fuenteheading);
    font-weight: bold;
    

}



.widget-course__info {
    font-weight: normal;

}



.footer {
    background-color: var(--negro);
    padding: 3rem;
    margin-top: 4rem;
}

/** sobre nosotros **/
@media (min-width: 968px)  {
    .about-us {
        display: flex;
        gap: 2rem;

    }
    .about-us__img,
    .about-us__text {
        flex-basis: 50%;
    }  
   
}

.course {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);

}

@media (min-width: 768px)  {
    .course {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;

    }
   
}

.course:last-of-type {
    border: none;
}

.course__information {
    font-weight: normal;
}

.course__label,
.course__information {
    font-size: 1.5rem;
}

.description__course {
    font-size: 1.3rem;
}

/** contacto **/

@media (min-width: 468px)  {
    .form {
        background-color: var(--blanco);
        margin: -5rem auto 0 auto;
        width: 90%;
        padding: 5rem;

   
}

.contact-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;

}

.form {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 90%;
    padding: 5rem;

}

.field {
    display: flex;
    margin-bottom: 2rem;

    
}

.field__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;

}

.field__field {
    flex: 1;
    border: 1px solid var(--gris);
    
}

.field__field--textarea {
    height: 20rem;

}

